.dialog {
  will-change: opacity, transform;
}

/* 開くとき */
.overlay.open {
  animation: fadeIn 100ms ease-out forwards;
}
.dialog.open {
  animation: upIn 100ms ease-out forwards;
}

/* 閉じるとき */
.overlay.close {
  animation: fadeOut 100ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes upIn {
  from {
    transform: translateY(8px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes upOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
